<div class="Board">
  <div class="chessboard">
    <div class="header"></div>
    <div class="header">a</div>
    <div class="header">b</div>
    <div class="header">c</div>
    <div class="header">d</div>
    <div class="header">e</div>
    <div class="header">f</div>
    <div class="header">g</div>
    <div class="header">h</div>

    <div class="header">1</div>
    <div (click)="clickedKnight(0,0)" row="0" col="0" class="white" id="00"></div>
    <div (click)="clickedKnight(0,1)" row="0" col="1" class="black" id="01"></div>
    <div (click)="clickedKnight(0,2)" row="0" col="2" class="white" id="02"></div>
    <div (click)="clickedKnight(0,3)" row="0" col="3" class="black" id="03"></div>
    <div (click)="clickedKnight(0,4)" row="0" col="4" class="white" id="04"></div>
    <div (click)="clickedKnight(0,5)" row="0" col="5" class="black" id="05"></div>
    <div (click)="clickedKnight(0,6)" row="0" col="6" class="white" id="06"></div>
    <div (click)="clickedKnight(0,7)" row="0" col="7" class="black" id="07"></div>

    <div class="header">2</div>
    <div (click)="clickedKnight(1,0)" row="1" col="0" class="black" id="10"></div>
    <div (click)="clickedKnight(1,1)" row="1" col="1" class="white" id="11"></div>
    <div (click)="clickedKnight(1,2)" row="1" col="2" class="black" id="12"></div>
    <div (click)="clickedKnight(1,3)" row="1" col="3" class="white" id="13"></div>
    <div (click)="clickedKnight(1,4)" row="1" col="4" class="black" id="14"></div>
    <div (click)="clickedKnight(1,5)" row="1" col="5" class="white" id="15"></div>
    <div (click)="clickedKnight(1,6)" row="1" col="6" class="black " id="16"></div>
    <div (click)="clickedKnight(1,7)" row="1" col="7" class="white" id="17"></div>

    <div class="header">3</div>
    <div (click)="clickedKnight(2,0)" row="2" col="0" class="white" id="20"></div>
    <div (click)="clickedKnight(2,1)" row="2" col="1" class="black" id="21"></div>
    <div (click)="clickedKnight(2,2)" row="2" col="2" class="white" id="22"></div>
    <div (click)="clickedKnight(2,3)" row="2" col="3" class="black" id="23"></div>
    <div (click)="clickedKnight(2,4)" row="2" col="4" class="white" id="24"></div>
    <div (click)="clickedKnight(2,5)" row="2" col="5" class="black" id="25"></div>
    <div (click)="clickedKnight(2,6)" row="2" col="6" class="white" id="26"></div>
    <div (click)="clickedKnight(2,7)" row="2" col="7" class="black" id="27"></div>

    <div class="header">4</div>
    <div (click)="clickedKnight(3,0)" row="3" col="0" class="black" id="30"></div>
    <div (click)="clickedKnight(3,1)" row="3" col="1" class="white" id="31"></div>
    <div (click)="clickedKnight(3,2)" row="3" col="2" class="black" id="32"></div>
    <div (click)="clickedKnight(3,3)" row="3" col="3" class="white" id="33"></div>
    <div (click)="clickedKnight(3,4)" row="3" col="4" class="black" id="34"></div>
    <div (click)="clickedKnight(3,5)" row="3" col="5" class="white" id="35"></div>
    <div (click)="clickedKnight(3,6)" row="3" col="6" class="black" id="36"></div>
    <div (click)="clickedKnight(3,7)" row="3" col="7" class="white" id="37"></div>

    <div class="header">5</div>
    <div (click)="clickedKnight(4,0)" row="4" col="0" class="white" id="40"></div>
    <div (click)="clickedKnight(4,1)" row="4" col="1" class="black" id="41"></div>
    <div (click)="clickedKnight(4,2)" row="4" col="2" class="white" id="42"></div>
    <div (click)="clickedKnight(4,3)" row="4" col="3" class="black" id="43"></div>
    <div (click)="clickedKnight(4,4)" row="4" col="4" class="white" id="44"></div>
    <div (click)="clickedKnight(4,5)" row="4" col="5" class="black" id="45"></div>
    <div (click)="clickedKnight(4,6)" row="4" col="6" class="white" id="46"></div>
    <div (click)="clickedKnight(4,7)" row="4" col="7" class="black" id="47"></div>

    <div class="header">6</div>
    <div (click)="clickedKnight(5,0)" row="5" col="0" class="black" id="50"></div>
    <div (click)="clickedKnight(5,1)" row="5" col="1" class="white" id="51"></div>
    <div (click)="clickedKnight(5,2)" row="5" col="2" class="black" id="52"></div>
    <div (click)="clickedKnight(5,3)" row="5" col="3" class="white" id="53"></div>
    <div (click)="clickedKnight(5,4)" row="5" col="4" class="black" id="54"></div>
    <div (click)="clickedKnight(5,5)" row="5" col="5" class="white" id="55"></div>
    <div (click)="clickedKnight(5,6)" row="5" col="6" class="black" id="56"></div>
    <div (click)="clickedKnight(5,7)" row="5" col="7" class="white" id="57"></div>

    <div class="header">7</div>
    <div (click)="clickedKnight(6,0)" row="6" col="0" class="white" id="60"></div>
    <div (click)="clickedKnight(6,1)" row="6" col="1" class="black" id="61"></div>
    <div (click)="clickedKnight(6,2)" row="6" col="2" class="white" id="62"></div>
    <div (click)="clickedKnight(6,3)" row="6" col="3" class="black" id="63"></div>
    <div (click)="clickedKnight(6,4)" row="6" col="4" class="white" id="64"></div>
    <div (click)="clickedKnight(6,5)" row="6" col="5" class="black" id="65"></div>
    <div (click)="clickedKnight(6,6)" row="6" col="6" class="white" id="66"></div>
    <div (click)="clickedKnight(6,7)" row="6" col="7" class="black" id="67"></div>

    <div class="header">8</div>
    <div (click)="clickedKnight(7,0)" row="7" col="0" class="black" id="70"></div>
    <div (click)="clickedKnight(7,1)" row="7" col="1" class="white" id="71"></div>
    <div (click)="clickedKnight(7,2)" row="7" col="2" class="black" id="72"></div>
    <div (click)="clickedKnight(7,3)" row="7" col="3" class="white" id="73"></div>
    <div (click)="clickedKnight(7,4)" row="7" col="4" class="black" id="74"></div>
    <div (click)="clickedKnight(7,5)" row="7" col="5" class="white" id="75"></div>
    <div (click)="clickedKnight(7,6)" row="7" col="6" class="black" id="76"></div>
    <div (click)="clickedKnight(7,7)" row="7" col="7" class="white" id="77"></div>
  </div>
</div>